/*help adding local font via stack overflow*/
@font-face {   
	font-family: Crystal-Universe; 
	src: url('CrystalUniverse-Regular.ttf') format("opentype"); 
	} 

body {
	background: url('https://media.giphy.com/media/3qePHOEQYRPDG/giphy.gif') no-repeat;
	background-size: cover;
  font-family: Arial;
}

li {
	list-style: none;
}

.container {
	background-color: rgba(0, 153, 153, 0.4);
	height: 450px;
	width: 75%;
	margin: 1% auto;
  -moz-margin: 10% auto;
	z-index: 10;
	color: #ffffff;
	border: 1px solid rgb(255,51,153); 
	border-radius: 40px;
	padding: 20px;
}

/*********************

 BUTTON STYLES 

**********************/


.buttons {
  text-align: center;
}

#start, 
#instructions {
  background: #3498db;
  width: 180px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  border-radius: 3px;
  border: 1px solid #42e8f4;
}

#start:hover, 
#instructions:hover {
  background:rgba(52, 107, 237, 0.7);
}

#start {
  -webkit-animation: neon4 .5s ease-in-out infinite alternate;
  -moz-animation: neon4 .5s ease-in-out infinite alternate;
  animation: neon4 .5s ease-in-out infinite alternate;
}


/*********************

 HEADER STYLES 

**********************/

header {
	font-family: 'Crystal-Universe';  
	/*background clip based on from css-tricks 
	and via this article: http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html;*/
	background-image: url('https://static.vecteezy.com/system/resources/previews/000/101/239/non_2x/free-abstract-background-7-vector.jpg');
	filter: brightness(1.5) drop-shadow(-2px 2px 0px rgba(255,255,255,1));
	color: #b95087;
	-webkit-text-fill-color: transparent; text-fill-color: transparent;
	background: -webkit-linear-gradient(transparent, transparent), url('https://static.vecteezy.com/system/resources/previews/000/101/239/non_2x/free-abstract-background-7-vector.jpg');
  background-size: cover;
	-webkit-background-clip: text; background-clip: text;
	font-size: 2em; 
	text-align: center;
	margin: 0; 
}




/*********************

SCOREBOARD STYLES 

**********************/

#scoreboard {
  display: flex;
  text-align: center;
  width: 50%;
}

#steven-says {
  display: none;
  padding-bottom: 40px;
  position: absolute;
  text-align: center;
}

img {
  animation: float 3s infinite linear;
  height: 100px;
  width: 100px;
  padding-top: 40px;
  padding-left: 5%;
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*********************

 BASIC GEM STYLES 

**********************/

/*With help from https://stackoverflow.com/questions/38916028/css-positioning-absolute-4-diamonds-close-together*/



#diamond_container { 
  position: relative;
  width: 25%;
  height: 25%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#diamonds { 
  position: absolute;
  z-index: 5;
  left: 0; right: 0;
  top: 100px; 
  bottom: 20px;
  margin: auto;
  width: 100%;
  -moz-width: 50%;
  height: 0;
  padding: 50% 0;
  text-align: center;
  -ms-transform: rotate(45deg);  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);  transform: rotate(45deg);
}

@-moz-document url-prefix() { 
  #diamonds {
    top:-90px;
  }
}

.diamond {
  position: absolute;
  width: 49%;
  height: 49%;
  transition: .5s;
  box-sizing: border-box;
  cursor: pointer;
}

/*** TOP DIAMOND ***/
/*inset box shadow via stack overflow*/
#top-diamond {
  left: 0; top: 0;
  border: 2px solid #b640b1;
  background: rgba(182, 64, 177, 0.7);
  -webkit-box-shadow: inset 0 0 20px 10px #b640b1;
  -moz-box-shadow: inset 0 0 20px 10px #b640b1;
  box-shadow: inset 0 0 20px 10px #b640b1;
}


/*** RIGHT DIAMOND ***/

#right-diamond {
  right: 0; top: 0;
  border: 2px solid #3a2551;
  background: rgba(58, 37, 81, 0.7);
  -webkit-box-shadow: inset 0 0 20px 10px #3a2551;
  -moz-box-shadow: inset 0 0 20px 10px #3a2551;
  box-shadow: inset 0 0 20px 10px #3a2551;
}

/*** LEFT DIAMOND ***/

#left-diamond {
  left: 0; bottom: 0;
  border: 2px solid #691065;
  background: rgba(105, 16, 101, 0.7);
  -webkit-box-shadow: inset 0 0 20px 10px #691065;
  -moz-box-shadow: inset 0 0 20px 10px #691065;
  box-shadow: inset 0 0 20px 10px #691065;
}

/*** BOTTOM DIAMOND ***/

#bottom-diamond {
  right: 0; bottom: 0;
  border: 2px solid #3268b2;
  background: rgba(50, 104, 178, 0.7); 
  -webkit-box-shadow: inset 0 0 20px 10px #3268b2;
  -moz-box-shadow: inset 0 0 20px 10px #3268b2;
  box-shadow: inset 0 0 20px 10px #3268b2;
}



/*********************

 GLOWING GEM STYLES 

**********************/
/*with help from https://f-rilling.com/fancy-neon-text-effects-with-css3*/

/*** TOP DIAMOND ***/

#top-diamond:hover, #top-diamond.active {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*** RIGHT DIAMOND ***/

#right-diamond:hover, #right-diamond.active {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2038ad, 0 0 70px #2038ad, 0 0 80px #2038ad, 0 0 100px #2038ad, 0 0 150px #2038ad;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2038ad, 0 0 35px #2038ad, 0 0 40px #2038ad, 0 0 50px #2038ad, 0 0 75px #2038ad;
  }
}

@-moz-keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2038ad, 0 0 70px #2038ad, 0 0 80px #2038ad, 0 0 100px #2038ad, 0 0 150px #2038ad;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2038ad, 0 0 35px #2038ad, 0 0 40px #2038ad, 0 0 50px #2038ad, 0 0 75px #2038ad;
  }
}

@keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2038ad, 0 0 70px #2038ad, 0 0 80px #2038ad, 0 0 100px #2038ad, 0 0 150px #2038ad;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2038ad, 0 0 35px #2038ad, 0 0 40px #2038ad, 0 0 50px #2038ad, 0 0 75px #2038ad;
  }
}




/*** LEFT DIAMOND ***/

#left-diamond:hover, #left-diamond.active {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #7925db, 0 0 70px #7925db, 0 0 80px #7925db, 0 0 100px #7925db, 0 0 150px #7925db;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #7925db, 0 0 35px #7925db, 0 0 40px #7925db, 0 0 50px #7925db, 0 0 75px #7925db;
  }
}

@-moz-keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #7925db, 0 0 70px #7925db, 0 0 80px #7925db, 0 0 100px #7925db, 0 0 150px #7925db;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #7925db, 0 0 35px #7925db, 0 0 40px #7925db, 0 0 50px #7925db, 0 0 75px #7925db;
  }
}

@keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #7925db, 0 0 70px #7925db, 0 0 80px #7925db, 0 0 100px #7925db, 0 0 150px #7925db;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #7925db, 0 0 35px #7925db, 0 0 40px #7925db, 0 0 50px #7925db, 0 0 75px #7925db;
  }
}

/*** BOTTOM DIAMOND ***/

#bottom-diamond:hover, #bottom-diamond.active {
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon4 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-moz-keyframes neon4 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon4 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}




/*********************

 MODAL STYLES 

**********************/

.modal {
    background-color: rgba(255,51,153,0.4); 
    display: none; 
    left: 0; top: 0;
    height: 100%;
    overflow: auto;
    position: fixed; 
    width: 100%; 
    z-index: 100; 
}

.modal-content {
    background-color: rgb(255,255,255);
    border: 2px solid rgba(153,51,255, 0.4);
    color: rgb(255, 51, 153);
    margin: 20% auto; 
    max-height: 400px;
    overflow: auto;
    padding: 20px;
    width: 50%;   
}

.close {
    color: rgb(0, 153, 153);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: rgb(255, 51, 153);
    cursor: pointer;
    text-decoration: none;
} 


/*****************************

 GAME CONTROL DISPLAY STYLES 

*****************************/

.controls {
  background:rgba(52, 107, 237, 0.7);
  border: 1px solid #72bff9;
  border-radius: 3px;
  text-align: center;
  width: 180px;
}

#left-control {
  float: left;
}

#right-control {
  float: right;
}

.option { 
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0px; 
  opacity: .25;
  transition: .3s;
  width: 40%;
}

.option:hover, 
.option.active,
#rounds {
  opacity: 1;
  text-shadow: 0px 0px 10px #ffffff;
}

.option i {
  display: block;
  font-size: 2em;
  width: 100%; 
}

.option span {
  display: block;
  font-size: .8em;
  padding-bottom: 10px;
  width: 100%;
}


/*********************

 FOOTER STYLES 

**********************/

footer { 
  color: rgb(255, 51, 153);
  font-weight: bold; 
  margin: 1%;
  text-align: center;
}

footer a {
  color: rgb(0, 153, 153);
  text-decoration: none;
}

